<div class="contents_first">
    <!-- title, 총거리, 시간, 지역 -->
    <div class="container">
        <div class="contents_main">
            <div class="first_items" id="contents_icon">
                <img class="ui avatar image" style="margin-top:6px;" src="https://graph.facebook.com/123214321421/picture">
            </div>
            <div class="first_items">
                <div class="first_items_items" id="contents_title">
                    <span style="font-size:17px;">사랑할 때 걷기 좋은 길</span>
                </div>
                <div class="first_items_items">
                    <div class="first_items_items_items" id="contents_distance">거리</div>
                    <div class="first_items_items_items" id="contents_time">시간</div>
                    <div class="first_items_items_items" id="contents_region">지역</div>
                    <div class="first_items_items_items"></div>
                </div>
            </div>
            <div class="first_items">
            </div>
        </div>
            <!--<div class="ui grid contents_main_grid">-->
            <!--    <div class="three wide column" id="contents_title">-->
            <!--        <h3>사랑하기 좋은 길</h3>-->
            <!--    </div>-->
            <!--    <div class="one wide column" id="contents_icon">-->
                    <!--<i class="fa fa-user-circle" style="font-size:25px;"></i>-->
            <!--        <img class="ui avatar image" src="https://graph.facebook.com/123214321421/picture">-->
            <!--    </div>-->
            <!--    <div class="one wide column" id="contents_distance">-->
            <!--        <p>거리</p>-->
            <!--    </div>-->
            <!--    <div class="one wide column" id="contents_time">-->
            <!--        <p>시간</p>-->
            <!--    </div>-->
            <!--    <div class="one wide column" id="contents_region">-->
            <!--        <p>지역</p>-->
            <!--    </div>-->
            <!--    <div class="nine wide column"></div>-->
            <!--</div>-->
        <div class="map_image">
            <div class="second_items" id="first_image">
                <img src="/images/gallery/fulls/image4.jpg" class="second_items_items" alt=""/>
                <div id="button_in_image">
                    <button class="ui primary button">글</button>
                    <button class="ui primary button" style="padding: 0.5em 1.67em 0.5em;">사진</button>
                </div>
            </div>
            <div class="second_items" id="map"></div>
                    <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = { 
                            center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };  
                    
                    var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
                    
                    // 선을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 선을 표시합니다
                    var linePath = [
                        new daum.maps.LatLng(33.452344169439975, 126.56878163224233),
                        new daum.maps.LatLng(33.452739313807456, 126.5709308145358),
                        new daum.maps.LatLng(33.45178067090639, 126.5726886938753) 
                    ];
                    
                    // 지도에 표시할 선을 생성합니다
                    var polyline = new daum.maps.Polyline({
                        path: linePath, // 선을 구성하는 좌표배열 입니다
                        strokeWeight: 5, // 선의 두께 입니다
                        strokeColor: '#FFAE00', // 선의 색깔입니다
                        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                        strokeStyle: 'solid' // 선의 스타일입니다
                    });
                    
                    // 지도에 선을 표시합니다 
                    polyline.setMap(map);
                    </script>
        </div>
    </div>
</div>

<div class="contents_second">
    <div class="container">
        <div class="spot_info">
            <img class="icon_map" src="images/gallery/fulls/icon_map_tag.png"/>
            <div class="spot_number">0</div>
            <div class="second_distance">0.00km</div>
        </div>
        <div class="gallery style2 medium lightbox onscroll-fade-in" style="padding-top: 41px;">
    		<article>
    			<a href="images/gallery/fulls/image8.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image4.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image2.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image2.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image3.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image3.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="iimages/gallery/fulls/image4.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image8.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image5.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image5.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image6.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image6.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image7.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image7.jpg" alt="" />
    			</a>
    		</article>
    	</div>
    	<div class="spot_info">
            <img class="icon_map" src="images/gallery/fulls/icon_map_tag.png"/>
            <div class="spot_number">1</div>
            <div class="second_distance">1.00km</div>
        </div>
        <div class="gallery style2 medium lightbox onscroll-fade-in" style="padding-top: 41px;">
    		<article>
    			<a href="images/gallery/fulls/image1.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image1.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image2.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image2.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/<gall></gall>ery/fulls/image3.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image3.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="iimages/gallery/fulls/image4.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image4.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image5.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image5.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image6.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image6.jpg" alt="" />
    			</a>
    		</article>
    		<article>
    			<a href="images/gallery/fulls/image7.jpg" class="image">
    				<img class="slide_image" src="images/gallery/fulls/image7.jpg" alt="" />
    			</a>
    		</article>
    	</div>
    </div>
</div>