
/*index.html*/
ul,li{ list-style:none}
.content{ font-family:"맑은 고딕", "나눔고딕", "돋움", "굴림"; margin:0 auto; width:35cm; height:29.7cm; padding-top:90px;}
.first{ overflow:hidden; padding-bottom:30px; height:500px;}
.first h3{ margin:20px 0 10px 37px; float:left; height:14px;} 
.first p{ margin:22px 0 10px 133px; float:left; font-size:14px; width:462px;}
.first li{ float:left; margin-top:25px; padding-top:204px; text-align:center; margin-right:65px;}
.pic{ width:710px; height:390px; background-color:#949494;}
.map{ width:390px; height:390px; background-color:#949494}
.box{ width:310px; border:1px solid #ccc; margin:50px 0 10px 37px; padding:9px; font-size:26px; color:#999 }
.sec{ overflow:hidden}
.sec li{ float:left; width:335px; height:358px;  background-color:#949494; margin-right:19px; text-indent:-9999px;}
.sec .small{ float:left; width:150px; height:358px;  background-color:#949494;}
.thr{ overflow:hidden; margin-bottom:100px}
.thr li{ float:left; width:335px; height:358px;  background-color:#949494; margin-right:19px; text-indent:-9999px;}
.thr .small{ float:left; width:150px; height:358px;  background-color:#949494;}

/*index2.html*/
