<!DOCTYPE html>
<html>
<head>
  <title>길위</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href=/assets/semantic.css">
  <link rel="stylesheet" href="/assets/slide.css">
  <link rel="stylesheet" href="/assets/index2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="assets/semantic.js"></script>
  <script src="assets/semantic.js"></script>
	<script src="/assets/jquery2.min.js"></script>
	<script src="/assets/jquery2.scrollex.min.js"></script>
	<script src="/assets/jquery2.scrolly.min.js"></script>
	<script src="/assets/skel2.min.js"></script>
	<script src="/assets/util2.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/assets/main2.js"></script>
	<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=342b61744ec2776e8f8cbd1a04597027"></script>
</head>
<body>
  <div class="ui large fixed hidden inverted pointing menu">
    <div class="ui container">
        <a class="item">
          길위
          <!--<i class="home icon"></i>-->
        </a>
      <!--<a class="item">-->
      <!--  <i class="grid layout icon"></i> Browse-->
      <!--</a>-->
      <!--<a class="item">-->
      <!--  <i class="mail icon"></i> Messages-->
      <!--</a>-->
      <!--<div class="ui simple dropdown item">-->
      <!--  More-->
      <!--  <i class="dropdown icon"></i>-->
      <!--  <div class="menu">-->
      <!--    <a class="item"><i class="edit icon"></i> Edit Profile</a>-->
      <!--    <a class="item"><i class="globe icon"></i> Choose Language</a>-->
      <!--    <a class="item"><i class="settings icon"></i> Account Settings</a>-->
      <!--  </div>-->
      <!--</div>-->
        <div class="right item">
          <!--<div class="ui input"><input type="text" placeholder="Search..."></div>-->
          <a class="item">
            <i class="grid layout icon"></i> Browse
          </a>
        </div>
    </div>
  </div>
<%= yield %>

</body>

</html>
